.logo{
    position: absolute;
    width: 70px;
    left: 140px;
    top: 90px;
}
.input{
    position: absolute;
    width: 300px;
    left: 230px;
    top: 100px;
}
.pesquisa{
    position: absolute;
    width: 30px;
    left: 540px;
    top: 100px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 140px;
    top: 55px;
}
.icone{
    position: absolute;
    left: 65px;
    top: 90px;
}
img{
    width: 70px;
}
.pasta{
    padding: 8px;
}
.nome{
    position: absolute;
    left: 60px;
    top: 123px;
}
.nomeI{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 22px;
}